.btn {
    display: block;
    margin: 10px auto;
    border: 1px solid rgba(79, 76, 76, 0.572);
    background: pink;
    color: black;
    padding: 6px 12px;
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
}

.boton-img {
    display: block;
    margin: 10px auto;
    border: 1px solid rgba(79, 76, 76, 0.572);
    background: pink;
    color: black;
    padding: 6px 15px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-volver {
    text-decoration: none;
    text-shadow: none;
    background-color: rgb(218, 157, 210);
    border-radius: 30px;
}