.carousel {
  position: relative;
  width: 90%;
  max-width: 1000px;
  height: 400px;
  overflow: hidden;
  margin: 0 auto;
}

.slides {
  display: flex;
  width: 300%;
}

.slides img {
  width: 33.333%;
  object-fit: cover;
  border: solid 2px rgb(155, 83, 95);
  border-radius: 30px;
  height: 400px;
}

.controls {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.prev,
.next {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  cursor: pointer;
}

.prev {
  margin-right: 10px;
}

.next {
  margin-left: 10px;
}

@media (min-width: 620px) {
  .carousel {
    position: relative;
    width: 90%;
    max-width: 1000px;
    height: 300px;
    overflow: hidden;
    margin: 0 auto;
  }

  .slides img {
    width: 33.333%;
    object-fit: cover;
    border: solid 2px rgb(155, 83, 95);
    border-radius: 30px;
    height: 300px;
  }

}

@media (min-width: 1024px) {
  .carousel {
    position: relative;
    width: 90%;
    max-width: 1000px;
    height: 500px;
    overflow: hidden;
    margin: 0 auto;
  }

  .slides img {
    width: 33.333%;
    object-fit: cover;
    border: solid 2px rgb(155, 83, 95);
    border-radius: 30px;
    height: 500px;
  }

}